@import "./variables";

.about-page-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.about-description-container {
  padding: $standard-padding;
  width: 100%;
}

.about-pane {
  border: 1px solid $light-border;
  border-radius: 15px;
  padding: 5px 5px 8px 5px;
  margin: 5px;
  color: $about-pane-text-color;
  background-color: $app-header-background-color;
  transition: all 0.5s linear;
  cursor: pointer;
  &:hover {
    background-color: $app-background-color;
    border: 1px solid $app-text-color-50;
    transition: all 0.5s linear;
  }

  .about-title-container {
    display: flex;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;

    .about-title,
    .about-title-collapsed-pane {
      font: $about-title-font;
      padding: 3px 0;
      transition: 1s;
    }
    .about-title {
      border-bottom: 1px solid $about-pane-text-color;
    }
    .about-title-collapsed-pane {
      border-bottom: 1px solid $app-header-background-color; //Invisible border so visible border doesn't look like it disappears
    }
    &:hover {
      .about-title-collapsed-pane {
        border-bottom: 1px solid $app-background-color; //Invisible border so visible border doesn't look like it disappears
      }
    }
  }
  .about-content,
  .about-content-collapsed {
    padding-left: 10px;
    overflow: hidden;
    transition: 1s;
    .about-text {
      font: $about-text-font;
      ul {
        margin-top: 10px;
        margin-bottom: 0;
        ul {
          margin-top: 0px;
        }
      }
    }
  }
  .about-content {
    max-height: 1000px;
  }
  .about-content-collapsed {
    max-height: 0px;
  }
}

.chevron {
  padding: 3px;
  justify-content: flex-end;
  align-items: center;
  margin: auto 0 auto auto;
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  transition: 1s;
}

.rotated {
  transform: rotate(90deg);
  transition: 1s;
}
