@import "./About";
@import "./Cronus";
@import "./Footer";
@import "./FrontPage";
@import "./index";
@import "./Header";
@import "./Overview";
@import "./ScrollBar";
@import "./variables";

@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"), url("./fonts/Inconsolata-VariableFont_wdth_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Catamaran";
  src: local("Catamaran"), url("./fonts/Catamaran-VariableFont_wght.ttf") format("truetype");
}

html,
body,
.app,
.app-hidden {
  background-color: $app-background-color;
}

.app {
  font-size: calc(10px + 2vmin);
  color: white;

  width: 100%;
  height: $app-height;
  position: absolute;
  top: 0;
  opacity: 100;
  transition: 1s;

  &-hidden {
    @extend .app;
    height: 0;
    top: 100vh;
    overflow: hidden;
    opacity: 0;
  }
}

.app-main {
  display: flex;
  height: calc(100% - #{$header-height} - #{$footer-height});
}

.app-spacer {
  height: $footer-height;
  transition: 1s;
}

//Place Responsive Design Last to ensure evaluation
@import "./Responsive";
