@import "./About";
@import "./Footer";
@import "./FrontPage";
@import "./index";
@import "./Nav";
@import "./Overview";
@import "./ScrollBar";
@import "./variables";

@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"), url("../../fonts/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Catamaran";
  src: local("Catamaran"), url("../../fonts/Catamaran-VariableFont_wght.ttf") format("truetype");
}

html,
body,
.app,
.app-hidden {
  background-color: $app-background-color;
}

.app {
  font-size: calc(10px + 2vmin);
  color: white;

  width: 100%;
  height: $app-height;
  position: absolute;
  top: 0;
  opacity: 100;
  transition: 1s;
}

.app-hidden {
  font-size: calc(10px + 2vmin);
  color: white;

  height: 0;
  top: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}

.app-main {
  display: flex;
  height: calc(100% - #{$header-height} - #{$footer-height});
}

.app-spacer {
  height: $footer-height;
  transition: 1s;
}

@media only screen and (max-width: 920px) {
  .logo-nav-item {
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    align-self: center;
  }
}
@media only screen and (max-width: 993px) {
  .app-header {
    flex-wrap: wrap;
  }
  .nav-align-right {
    flex-wrap: wrap;
  }
  .logo-nav-item {
    width: 100vw;
  }
  .nav-item {
    width: 100vw;
    padding: 5px 0 5px 0;
  }
}

/* @keyframes nav-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* @media (prefers-reduced-motion: no-preference) {
  .nav-logo {
    animation: nav-logo-spin infinite 20s linear;
  }
} */
