.card {
  @include card;
  @include flex-center-horizontal;
  padding: 10px $standard-padding $standard-padding $standard-padding;
  align-self: center;
  margin-top: 10vh;
  margin-bottom: auto;
  width: 50vw;
  height: 60vh;
  flex-direction: column;
  overflow: auto;

  &-image {
    @include flex-center-horizontal;
    width: 80%;
    height: auto;
    border: 2px solid $app-text-color;
    border-radius: 3px;
  }
}

.terminal {
  background-color: $front-page-terminal-background-color;
  border-radius: 8px;
  width: 100%;
  height: 100%;

  &-nav-container {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    height: fit-content;
    width: 100%;

    .terminal-nav {
      @include flex-end;
      @include height-fit-content;
      @include width-fit-content;
      flex-wrap: nowrap;
      padding: 10px 0;

      &-item {
        height: 14px;
        width: 14px;
        border-radius: 7px;
        margin: 0 3px;
        background-color: $app-text-color;
      }
    }
  }

  &-content {
    @include height-fit-content;
    border-top: 1px solid $app-text-color;
    margin-top: $standard-padding;
    height: 80%;
    &-header {
      font-style: italic;
      font-size: 24px;
    }
    &-text {
      height: 100%;
      font-size: 20px;
      //   padding-bottom: 3px;
      //   border-bottom: 1px solid $app-text-color;
    }
  }
}

.page-switch-icons {
  @include flex-center-vertical;
  @include flex-center-horizontal;
}
.page-switch-icon {
  @include flex-center-vertical;
  justify-content: center;

  $icon-length: 50px;
  width: $icon-length;
  height: $icon-length;
  border-radius: calc(#{$icon-length} / 2);
  background-color: $front-page-terminal-background-color;
  color: $app-text-color;
  margin: $standard-padding;
  transition: 1s;

  &:hover {
    color: $app-background-color;
    background-color: $app-hover-color;
    cursor: pointer;
    transition: 1s;
  }
}

.disabled {
  opacity: 0.5;
  &:hover {
    background-color: $front-page-terminal-background-color;
    cursor: default;
  }
}

.repo-link {
  @include flex-center-horizontal;
  @include undecorated-link;

  .page-switch-icon {
    $icon-size: 400px;
    @include icon-size($icon-size);
    // font-size: $icon-size;
    // height: $icon-size;
    // width: $icon-size;
    // border-radius: calc(#{$icon-size}/ 2);
    margin-top: -1px;
    svg {
      height: calc(#{$icon-size}* 1.5);
      width: calc(#{$icon-size}* 1.5);
    }
    &:hover {
      background-color: black;
      svg {
        filter: invert(100%);
        transition: 0.5s;
      }
    }
  }
}

.resource-link {
  outline: 0;
  padding: 15px;
  margin: 5px;
  border-radius: $card-border-radius;
  width: 40%;
  @include default-button;
  @include flex-center-horizontal;
}

.basic-interface-graphic {
  padding: 10px;
  width: 60%;
  height: 100%;
  object-fit: scale-down;
  margin-top: 25px;
  background-color: white;
}

.width-70 {
  width: 70%;
}

.card-content-flex {
  display: flex;
}
