@import "./variables";

.app-footer {
  background-color: $app-header-background-color;
  color: $app-text-color;

  height: $footer-height;
  width: 100%;

  display: flex;
  align-items: center;

  font-size: calc(2px + 2vmin);
  font-family: "Nicholas Bold";

  position: fixed;
  bottom: 0;
  transition: 1s;
}

.app-footer-content {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 39px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.return-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: $standard-padding;

  .ms-Checkbox.is-checked.is-enabled {
    .ms-Checkbox-checkbox {
      .ms-Checkbox-checkmark {
        color: $app-header-background-color;
      }
      background-color: $app-text-color;
      border-color: rgb(50, 49, 48);
      &:hover {
        background-color: $app-text-color-dark;
      }
    }
  }
  .ms-Checkbox.is-enabled {
    .ms-Checkbox-checkbox {
      .ms-Checkbox-checkmark {
        color: $app-text-color;
      }
      background-color: $app-header-background-color;
      border-color: rgb(50, 49, 48);
    }
  }
}

.footer-link {
  display: flex;
  color: $app-text-color;
  padding: 5px;
  border-radius: 3px;
  transition: 0.5s;
  a {
    margin: 0 10px;
    color: $app-text-color;
    text-decoration: none;
  }
  &:hover {
    background-color: $app-text-color;
    svg polygon,
    svg line {
      fill: $app-background-color;
      stroke: $app-text-color;
    }
    a,
    .fabric-logo {
      color: $app-background-color;
      text-decoration: none;
    }
    transition: all 0.5s linear;
  }
}

.plane-logo {
  padding-right: 3px;
  align-items: center;
  svg {
    height: calc(2px + 2vmin);
  }
  svg polygon,
  svg line {
    fill: $app-text-color;
    transition: all 0.5s linear;
  }
  transition: all 0.5s linear;
}

.fabric-logo {
  display: flex;
  align-items: center;
  color: $app-text-color;
  font-size: calc(5px + 2vmin);
  height: calc(5px + 2vmin);
  width: calc(5px + 2vmin);
  transition: all 0.5s linear;
}
