@import "./variables";

.app-footer {
  background-color: $app-header-background-color;
  color: $app-text-color;

  height: $footer-height;
  width: 100%;

  display: flex;
  align-items: center;

  font-size: calc(2px + 2vmin);
  font-family: "Nicholas Bold";

  position: fixed;
  bottom: 0;
  transition: 1s;

  .app-footer-content {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 39px;

    .footer-links {
      display: flex;
      align-items: center;
    }
  }

  .return-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: $standard-padding;

    .ms-Checkbox.is-checked.is-enabled {
      .ms-Checkbox-checkbox {
        .ms-Checkbox-checkmark {
          color: $app-header-background-color;
        }
        background-color: $app-button-color;
        border-color: $app-button-color;

        &:hover {
          background-color: $button-hover-color;
          border-color: $button-hover-color;

          .ms-Checkbox-checkmark {
            color: $app-text-color;
          }
        }
      }
    }
    .ms-Checkbox.is-enabled {
      .ms-Checkbox-checkbox {
        .ms-Checkbox-checkmark {
          color: $app-button-color;
        }
        background-color: $app-header-background-color;
        border-color: $app-button-color;
      }
    }
  }
}

.footer-link {
  display: flex;
  color: $app-button-color;
  padding: 5px;
  border-radius: 3px;
  transition: 0.5s;

  a {
    margin: 0 10px;
    color: $app-button-color;
    text-decoration: none;
  }

  &:hover {
    background-color: $button-hover-color;
    transition: 0.5s;

    svg polygon,
    svg line {
      fill: $app-text-color;
      stroke: $app-hover-color;
    }

    a,
    .fabric-logo {
      color: $app-text-color;
      text-decoration: none;
    }
  }
}

.plane-logo {
  padding-right: 3px;
  align-items: center;
  transition: 0.5s;

  svg {
    height: calc(2px + 2vmin);
  }
  svg polygon,
  svg line {
    fill: $app-button-color;
    stroke: $app-header-background-color;
    transition: 0.5s;
  }
}

.fabric-logo {
  display: flex;
  align-items: center;
  color: $app-button-color;
  font-size: calc(5px + 2vmin);
  height: calc(5px + 2vmin);
  width: calc(5px + 2vmin);
  transition: 0.5s;
}
