@import "./variables";

.front-page {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: $app-height;
  position: absolute;
  bottom: 0;
  opacity: 100;
  transition: 1s;

  background-color: $front-page-background-color;
  background-image: url("../images/FrontPageBG.svg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: $app-text-color;
  font: 26px "Consolas";

  .front-page-terminal {
    background-color: $front-page-terminal-background-color;
    padding: 0 15px 15px 15px;
    border-radius: 8px;

    .front-page-terminal-nav {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      padding: 10px 0;

      .front-page-terminal-nav-item {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        margin: 0 3px;
        background-color: $app-text-color;
      }
    }

    .blink1,
    .blink2 {
      padding-left: 8px;
      color: $app-text-color;
      transition: 0.25s;
    }
    .blink1 {
      opacity: 0;
    }
    .blink2 {
      opacity: 1;
    }
  }

  .front-page-icon {
    display: flex;
    background-color: $front-page-terminal-background-color;
    color: $app-text-color;
    margin-top: 25px;

    //Center on page
    justify-self: center;
    margin-left: auto;
    margin-right: auto;

    //Center Icon in Bubble
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: 1s;

    &:hover {
      color: $app-background-color;
      background-color: $app-hover-color;
      cursor: pointer;
      transition: 1s;
    }
  }
}

.front-page-hidden {
  background-color: $app-background-color;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: all 1s linear;

  bottom: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}
