@import "./variables";

.front-page {
  @include flex-center-horizontal;
  @include flex-center-vertical;

  width: 100%;
  height: $app-height;
  position: absolute;
  bottom: 0;
  opacity: 100;
  transition: 1s;

  background-color: $front-page-background-color;
  background-image: url("../images/FrontPageBG.svg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: $app-text-color;
  font: 26px "Consolas";

  &-hidden {
    bottom: 100vh;
    opacity: 0;
    transition: 1s;
  }

  .front-page-terminal {
    background-color: $front-page-terminal-background-color;
    padding: 0 15px 15px 15px;
    border-radius: 8px;

    &-nav {
      @include flex-end;
      padding: 10px 0;

      &-item {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        margin: 0 3px;
        background-color: $app-text-color;
      }
    }

    .blink1,
    .blink2 {
      padding-left: 8px;
      color: $app-text-color;
      transition: 0.25s;
    }
    .blink1 {
      opacity: 0;
    }
    .blink2 {
      opacity: 1;
    }
  }

  &-icon {
    //Center Icon in Bubble
    @include flex-center-vertical;
    @include flex-center-horizontal;
    $icon-length: 50px;

    background-color: $front-page-terminal-background-color;
    color: $app-text-color;
    margin-top: $standard-padding;
    width: $icon-length;
    height: $icon-length;
    border-radius: calc(#{$icon-length} / 2);
    transition: 1s;

    &:hover {
      color: $app-background-color;
      background-color: $app-hover-color;
      cursor: pointer;
      transition: 1s;
    }
  }
}
