.app-header {
  background-color: $app-header-background-color;
  color: white;
  height: 83px;
  width: 100%;
  display: flex;
  font: bold calc(10px + 2vmin) "Catamaran";
  box-shadow: $card-box-shadow;

  .logo-nav-item {
    @include width-fit-content;
    @include undecorated-link;

    .nav-logo {
      height: 50px;
      width: auto;
      padding: 15px;
    }
  }

  .nav-align-right {
    @include flex-end;
    @include width-fit-content;
    padding-right: $standard-padding;
  }

  .document-menu-button {
    @include flex-center-vertical;
    @include flex-end;
    padding-right: 30px;
  }
  .cronus-monitoring-button {
    @include flex-center-vertical;
    @include flex-end;
    @include undecorated-link;
    padding-right: 15px;
  }

  .ms-Button--default {
    background-color: $app-button-color;
    color: $app-header-background-color;
    border-color: $app-button-color;
    transition: 0.5s;

    &:hover {
      @include default-button;
    }
  }
}

.ms-ContextualMenu-Callout {
  margin-right: 10px;

  .ms-ContextualMenu-item {
    background-color: $app-button-color;
    color: $app-text-color;
    transition: 0.5s;
    padding: 15px;

    .ms-ContextualMenu-itemText {
      padding: 0 10px;
      border-radius: 3px;
      text-align: center;

      &:hover {
        @include default-button;
      }
    }
  }
}
