.app-header {
  background-color: #181c24;
  color: white;
  height: fit-content;
  width: 100%;
  display: flex;
  font: bold calc(10px + 2vmin) "Catamaran";
  box-shadow: 1px 1px 2px black;

  .logo-nav-item {
    width: fit-content;
    width: --moz-fit-content;
    height: fit-content;
    height: --moz-fit-content;
    border-bottom: 2px solid $app-text-color;
    padding-right: 8px;
    text-decoration: none;
    outline: 0;

    .nav-logo {
      height: 50px;
      padding: 15px 5px 0 5px;
    }
  }

  .nav-align-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: $standard-padding;
    width: fit-content;
    width: --moz-fit-content;

    .nav-item {
      display: flex;
      width: fit-content;
      width: --moz-fit-content;
      height: calc(100% - 2px);
      align-items: center;
      padding: 0 15px;
      border-bottom: 2px solid #181c24;
      transition: 0.5s;
      &:hover {
        background-color: $app-background-color;
        border-bottom: 2px solid $app-background-color;
        transition: 0.5s;
      }

      .nav-link {
        color: $app-text-color;
        text-decoration: none;
      }
    }

    .nav-item-selected {
      border-bottom: 2px solid $app-text-color;
      &:hover {
        border-bottom: 2px solid $app-text-color;
      }
    }
  }
}
