.app-header {
  background-color: $app-header-background-color;
  color: white;
  height: 83px;
  width: 100%;
  display: flex;
  font: bold calc(10px + 2vmin) "Catamaran";
  box-shadow: 1px 1px 2px black;

  .logo-nav-item {
    width: fit-content;
    width: --moz-fit-content;
    text-decoration: none;
    outline: 0;

    .nav-logo {
      height: 50px;
      width: auto;
      padding: 15px;
    }
  }

  .nav-align-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: $standard-padding;
    width: fit-content;
    width: --moz-fit-content;

    .nav-item {
      display: flex;
      width: fit-content;
      width: --moz-fit-content;
      height: calc(100% - 2px);
      align-items: center;
      padding: 0 15px;
      border-bottom: 2px solid #181c24;
      transition: 0.5s;

      &:hover {
        background-color: $app-background-color;
        border-bottom: 2px solid $app-background-color;
        transition: 0.5s;
      }
    }
  }

  .document-menu-button {
    align-items: center;
    justify-content: flex-end;
    margin: auto 0 auto auto;
    padding-right: 30px;
  }
}

.ms-Button--hasMenu {
  background-color: $app-nav-button-color;
  color: $app-header-background-color;
  border-color: $app-nav-button-color;
  transition: 1s;

  &:hover {
    background-color: $button-hover-color;
    border-color: $button-hover-color;
    transition: 1s;
  }
}
.ms-ContextualMenu-Callout {
  margin-right: 10px;

  .ms-ContextualMenu-item {
    background-color: $app-nav-button-color;
    color: $app-text-color;
    transition: 1s;

    .ms-ContextualMenu-link:hover {
      background-color: $button-hover-color;
      color: $app-background-color;
      transition: 1s;
    }
  }
}
