@import "./variables";
$padding-length: calc(#{$standard-padding} + 5px);

@mixin profile-picture-container-common {
  @include card;
  display: flex;
  margin-right: $standard-padding;
  margin-top: calc(#{$standard-padding} + 5px);
  transition: 1s;
}

.about-page-sub-container {
  @include height-fit-content;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.profile-picture-container {
  @include profile-picture-container-common;
  flex-wrap: wrap;
  $container-height: calc(100vh - #{$header-height} - #{$footer-height} - #{$standard-padding * 2} - 10px);
  width: calc(#{$profile-picture-length} + 100px);
  height: $container-height;
  margin-left: $standard-padding;
  padding: 0 $standard-padding;

  &-collapsed {
    @include profile-picture-container-common;
    @include width-fit-content;
    height: $container-height;
    padding: 0 5px;
    border-radius: 0 $card-border-radius $card-border-radius 0;
  }

  .profile-picture {
    @include flex-center-horizontal;
    height: $profile-picture-length;
    width: auto;
    border-radius: $profile-picture-radius;
    margin-top: $standard-padding;
    transition: 1s;
  }

  .description-title {
    font: $about-title-font;
    color: $app-text-color;
    width: 100%;
    padding-bottom: 3px;
    margin: 10px 0;
    border-bottom: 1px solid $app-text-color;
  }

  .description-text {
    font: $about-text-font;
    color: $app-text-color;
    width: 100%;
    margin-bottom: $standard-padding;
  }
}

.expansion-chevron {
  @include flex-end;
  margin: auto 0 15px auto;
  color: $app-text-color;

  &:hover {
    background-color: $app-hover-color;
    cursor: pointer;
  }
}

.invisible {
  height: 0;
  opacity: 0;
  transition: 1s;
}
