@import "./variables";
$padding-length: calc(#{$standard-padding} + 5px);

.profile-picture-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(#{$profile-picture-length} + 100px);
  height: calc(100% - ($padding-length * 2));
  margin: $padding-length 0 $padding-length $padding-length;
  padding: 0 $standard-padding;
  border-radius: $card-border-radius;
  background-color: $overview-pane-background-color;
  box-shadow: $card-box-shadow;
  transition: 1s;

  .profile-picture {
    @include flex-center-horizontal;
    height: $profile-picture-length;
    width: auto;
    border-radius: $profile-picture-radius;
    margin-top: $standard-padding;
    transition: 1s;
  }

  .description-title {
    font: $about-title-font;
    color: $about-pane-text-color;
    width: 100%;
    padding-bottom: 3px;
    margin: 10px 0;
    border-bottom: 1px solid $about-pane-text-color;
  }

  .description-text {
    font: $about-text-font;
    color: $about-pane-text-color;
    width: 100%;
    margin-bottom: $standard-padding;
  }
}

.profile-picture-container-collapsed {
  display: flex;
  padding: 0 5px;
  @include width-fit-content;
  height: 100%;
  background-color: $overview-pane-background-color;
  box-shadow: $card-box-shadow;
  transition: 1s;
  border-radius: 0 $card-border-radius $card-border-radius 0;
}

.expansion-chevron {
  @include flex-end;
  margin: auto 0 15px auto;
  color: $app-text-color;

  &:hover {
    cursor: pointer;
  }
}

.invisible {
  height: 0;
  opacity: 0;
  transition: 1s;
}
