//Chrome & Edge
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $app-scrollbar-track-color;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  background: $app-scrollbar-color;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $app-hover-color;
}

//Firefox
html {
  scrollbar-color: $app-scrollbar-color $app-scrollbar-track-color;
  scrollbar-width: thin;
  overflow-y: scroll;
}
