//Chrome & Edge
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $app-header-background-color;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  background: $app-header-background-color-lighter;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $app-header-background-color-lightest;
}

//Firefox
html {
  scrollbar-color: $app-header-background-color-lighter $app-header-background-color;
  scrollbar-width: thin;
  overflow-y: scroll;
}
