//Main Colors
$light-shade: #f5f3f0;
$light-accent: #bba786;
$main-brand: #496875;
$dark-accent: #e8a42b;
$dark-shade: #3f5062;

// $light-shade: #f6f7f7;
// $light-accent: #a6b6ba;
// $main-brand: #ec9674;
// $dark-accent: #55ada8;
// $dark-shade: #453f4d;

//Colors
$front-page-background-color: $dark-shade;
$front-page-terminal-background-color: $light-shade;
$app-background-color: $dark-shade;
$app-header-background-color: $main-brand;
$about-pane-background-color: $light-shade;
$overview-pane-background-color: $light-shade;

$app-nav-button-color: $light-shade;
$app-button-color: $light-shade;

$app-text-color: $dark-shade;
$about-pane-text-color: $dark-shade;

$app-hover-color: $light-accent;
$button-hover-color: $dark-accent;
$about-hover-color: $light-accent;

$app-scrollbar-color: $light-accent;
$app-scrollbar-track-color: $main-brand;

//Spacing
$standard-padding: 25px;

//Heights
$header-height: 83px;
$footer-height: 40px;
$app-height: 100vh;
$profile-picture-length: 300px;
$profile-picture-radius: $profile-picture-length/2;

//Fonts
$about-font: "Inconsolata";
$about-title-font: bold 26px "Catamaran";
$about-text-font: calc(10px + 2vmin) $about-font;
